<!DOCTYPE html>
<html>
  <head>
    <h1 style = "text-align:center">Browse the Website</h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='templates/css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <script src="script.js"></script>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home.html">Shoes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('home')}}">Home<span class="sr-only">current</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('browse')}}">Browse<span class="sr-only">current</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('search')}}">Search<span class="sr-only">current</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{url_for('upload')}}">Upload attraction<span class="sr-only">current</span></a>
      </li>



    </ul>
  </div>
</nav>
-->
<!--
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Location</td>
            <td>Category</td>
            <td>Hours</td>

         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["ID"]}}</td>
                <td>{{row['Name']}}</td>
               <td>{{row["Location"]}}</td>
               <td> {{ row["Category"]}}</td>
               <td>{{row['Hours']}}</td>

            </tr>
         {% endfor %}
      </table>
      -->
  <!-- action="{{ url_for('findRatings')}}" -->
<form  method="post">
<label for="firstname" style="text-align:center;margin-left:40px">Enter the ID of the location you want to view accessibility ratings and rate:</label>
<input type="text" id="firstname" name="fname" placeholder="Enter ID">

<button type="submit">Submit</button>
</form>
<div  style = "margin-left: auto;margin-right:auto;margin-top:40px;width:80%" >
    <!--{% for row in rows %}-->
<div class="jumbotron">
  <h1 class="display-4">
  <text y="40">Attraction: {{row['name']}}</text>
  </h1>
  <p class="lead">ID: {{row['ID']}}</p>
  <hr class="my-4">
  <p>Location: {{row["Location"]}}</p>
  <p>Category: {{ row["Category"]}}</p>
  <p>Open Hours: {{row['Hours']}}</p>

</div>
  <!--{% endfor %}-->
</div>




<!--
<div class = "row" style = "margin-top:60px;margin-left:40px">  
<div class="card col-sm-3" style="margin-left:80px; margin-right: 60px;height:60%">
  <img src="images/cardlogin.svg" class="card-img-top" alt="..." style = "margin-top:38px">
  <div class="card-body">
    <div style = "margin-top:20px"></div>
    <h5 class="card-title">Log-in/Registration</h5>
    <p class="card-text">Upon creating an account, users' responses to the forms will be stored in a database. Registration consists of four steps, including the user's first and last name, e-mail address and phone number, birthdate, username, and password. </p>
    <a href="login.html" class="btn btn-primary">Log in</a>
    <a href="signUp.html" class="btn btn-secondary">Registration</a>
</div>
</div>
<div class="card col-sm-3" style= "margin-right:60px;height:60%">
  <img src="images/carddash.svg" class="card-img-top" alt="..." style = "margin-top:32px">
  <div class="card-body">
    <h5 class="card-title">Classes/Pods/Temperature</h5>
    <p class="card-text">After signing in, users can create pods by inputting the names and grade of their fellow classmates/groupmates into a form. If students wish to travel to each other's houses, mainting social distancing, of course, everyone will be required to log their temperatures. The entire pod's temperatures will be put on display on the dashboard. Additionally, students  can  deliver information amongst each other by writing the main class focus. Users can also fill out  a to-do form for students to log the activities  they need to finish. All the data will be stored and saved. </p>
    <a href="dashboard.html" class="btn btn-primary">Dashboard</a>
</div>
</div>
<div class="card col-sm-3" style= "margin-right:60px ">
  <img src="images/cardtutor.svg" class="card-img-top" alt="..." style = "height:200px;margin-top:30px">
  <div class="card-body">
    <h5 class="card-title">Find a Tutor</h5>
    <p class="card-text">steps here</p>
    <a href="#" class="btn btn-primary">Tutors</a>
</div>
</div>
-->
